* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  color: #900c3f;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 36px;
}

/* header styles */
header {
  width: 100%;
  padding: 20px;
  background-color: #900c3f;
}

header nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

header nav .logo img {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

header nav .btn-tab {
  display: flex;
  gap: 10px;
}

header nav .btn-tab .nav-btn {
  border: 1px solid #efefef;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 18px;
}

header nav .btn-tab .nav-btn:hover,
header nav .btn-tab .nav-btn.active {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

/* homepage styles */
.home-div {
  width: 100%;
  height: auto;
  background-image: url(./images/red-bamboo-bgImage.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.home-div .card-div {
  width: 60%;
  margin: 30px auto;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-div .card-div .cardImg-div {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  mix-blend-mode: multiply;
}

.home-div .card-div .cardImg-div img {
  width: 100%;
  object-fit: cover;
}

.home-div .card-div p {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: -10px;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.home-div .card-div .btn {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px 30px;
  background-color: rgb(218, 165, 32);
  font-size: 18px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 6px rgb(0 0 0);
  transition: transform 0.3s ease-in-out;
}

.home-div .card-div .btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* menu styles */

.menu {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.9);
  padding: 10px;
}

.menu .menu-item {
  border: 1px solid #505050;
  border-radius: 5px;
  flex-basis: 49%;
  flex-grow: 1;
  display: flex;
  padding: 20px;
}

.menu .menu-item .info-div {
  flex-basis: 100%;
}
.menu .menu-item .info-div .name {
  font-weight: 500;
  font-size: 18px;
}
.menu .menu-item .info-div .desc {
  font-size: 14px;
}

.menu .menu-item .img-div {
  width: 150px;
  height: 130px;
  align-self: center;
}

.menu .menu-item .img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
